<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>vuela</title>
    <link rel="stylesheet" type="text/css" href="./vuela.css">
    <link href="https://fonts.googleapis.com/css?family=Material+Icons" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/vue/latest/vue.js"></script>
</head>
<body>
    <div id="app">
        <div class="left">
            <label for="h1">h1</label>
            <input type="text" name="h1" v-model="h1">
            
            <label for="p">p</label>
            <textarea type="text" name="p" v-model="p"></textarea>
            <button @click="replaceText()">SAVE & UPDATE</button>
        </div>
        <div class="right">
            <h1>{{ heading }}</h1>
            <p>{{ paragraph }}</p>
        </div>
        
    </div> 
</body>
<script src="./vuela.js"></script>
</html>
